.container {
  width: 94%;
  max-width: 1530px;
}

body {
  font-size: 1.25rem;
}

/* .header
==================== */

.header {
  background-image: url("../images/football_1920.jpg");
}

.header-container {
  padding-top: 4.5vh;
  padding-bottom: 11.5vh;
}

.logo-text {
  width: 200px;
}

.header-intro {
  width: 100%;
}

.header-intro .title {
  font-size: calc((100vw - 60rem) / (120 - 60) * (6 - 4.7) + 4.7rem);
}

@media (min-width: 1440px) {
  .header-intro .title {
    font-size: 6rem;
  }
}

.header-title {
  margin: 0;
}

.header-title-secondpart {
  align-self: flex-end;
}

.download-links {
  justify-content: center;
}

.download-links li {
  width: 310px;
}

.download-links li:first-child {
  margin: 0 25px 0 0;
}

.download-links li:last-child {
  margin: 0 0 0 25px;
}

.link-wrapper {
  padding: 15px 0;
}

.download-link svg {
  width: 40px;
  height: 50px;
}

.link-text {
  margin-left: 25px;

  font-size: 0.875rem;
}

.link-text:last-child {
  margin-left: 30px;
}

/* .services
==================== */

.main-container {
  width: 47%;
  max-width: 765px;
}

.services:nth-child(odd) .main-container {
  padding-left: 50px;
  margin-left: 50%;
}

.services:nth-child(even) .main-container {
  padding-right: 50px;
  margin-right: 50%;
}

.services {
  padding-top: 110px;
}

.services:nth-child(even) {
  overflow: hidden;
}

.services-title {
  margin-bottom: 45px;
}

.services-title::after {
  width: 570px;
  height: 900px;

  background-image: url("../images/footballer_566.png");

  transform: translateX(-600px) scale(0.9);
}

@media (min-width: 1280px) {
  .services-title::after {
    transform: translateX(-670px) scale(1.05);
  }
}

.services:nth-child(2) .services-title::after {
  top: -135px;

  width: 1000px;
  height: 815px;

  background-image: url("../images/basketballer_991.png");

  transform: translateX(-80px) scale(0.9);
}

@media (min-width: 1920px) {
  .services:nth-child(2) .services-title::after {
    top: -75px;
    transform: translateX(-50px) scale(1.05);
  }
}

.service {
  padding-top: 55px;
  padding-bottom: 55px;
}

/* .hints
==================== */

.hint .container {
  max-width: 765px;
}

.hint:nth-child(odd) .container {
  padding-left: 130px;
  margin-left: 0;
}

.hint:nth-child(even) .container {
  padding-right: 130px;
  margin-right: 0;
}

.hint {
  display: flex;
  justify-content: center;
}

.hint-pic,
.hint-content {
  width: 50%;
  max-width: 960px;
  max-height: 730px;
  padding: 0;
}

.hint-content {
  padding-top: calc((100vw - 365px) / (730 - 365) * (88 - 44) + 44px);
  padding-bottom: 10px;
}

@media (min-width: 1920px) {
  .hint-content {
    padding-top: 233px;
  }
}

.hint:nth-child(even) .hint-pic {
  order: 2;
}

.hint-content::before {
  top: 50%;
  left: -85px;
  margin-top: -80px;

  width: 170px;
  height: 160px;

  font-size: 1.5rem;

  transform: scale(0.8);
}

@media (min-width: 1280px) {
  .hint-content::before {
    transform: scale(0.9);
  }
}

@media (min-width: 1650px) {
  .hint-content::before {
    transform: scale(1);
  }
}

.hint:nth-child(even) .hint-content::before {
  left: calc(100% - 85px);
}

.hint-content::after {
  top: calc(50% + 20px);
  left: -13px;

  width: 26px;

  border-top-width: 2.5px;
  border-bottom-width: 2.5px;
  border-radius: 2.5px;
}

.hint:nth-child(even) .hint-content::after {
  left: calc(100% - 13px);
}

.hint-title {
  padding-top: calc((100vw - 961px) / (1920 - 961) * (88 - 44) + 44px);
  margin-bottom: 5%;

  font-size: calc((100vw - 60rem) / (120 - 60) * (5 - 2.5) + 2.5rem);
  color: #e7e7e7;
}

@media (min-width: 1920px) {
  .hint-title {
    padding-top: 88px;

    font-size: 5rem;
  }
}

.hint-text {
  font-size: calc((100vw - 60rem) / (120 - 60) * (1.5 - 1.25) + 1.25rem);
}

@media (min-width: 1920px) {
  .hint-text {
    font-size: 1.5rem;
  }
}

/* .footer
==================== */

.footer-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding-top: 50px;
  padding-bottom: 150px;
}

.footer-logo {
  margin-right: 30px;
}

.footer-slogan {
  align-items: flex-start;
}

.footer .slogan-firstpart {
  font-size: 80px;
}

.footer .slogan-secondpart {
  font-size: 30px;
}

.footer .logo-text {
  bottom: 50px;
}
