.container {
  width: 80%;
  max-width: 1530px;
}

body {
  font-size: 1.25rem;
}

/* .header
==================== */

.header {
  background-image: url("../images/football_1920.jpg");
}

.header-container {
  padding-top: 4.5vh;
  padding-bottom: 11.5vh;
}

.logo-text {
  width: 190px;
}

.header-intro {
  width: 100%;
}

.header-intro .title {
  font-size: 6rem;
}

.header-title {
  margin: 0;
}

.header-title-secondpart {
  align-self: flex-end;
}

.download-links {
  justify-content: center;
}

.download-links li {
  width: 310px;
}

.link-wrapper {
  padding: 2.5vmin 0;
}

.download-link svg {
  width: 40px;
  height: 50px;
}

.link-text {
  margin-left: 25px;

  font-size: 0.875rem;
}

.link-text:last-child {
  margin-left: 30px;
}

/* .services
==================== */
