/* decoration
======================================== */

.link-wrapper {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.download-link:focus {
  outline-style: none;
  color: #c1c1c1;
}

.link-wrapper:hover {
  background-color: #5437ac;
}

.link-wrapper:hover svg {
  transform: scale(1.1);
}

svg {
  transition: all 0.3s ease-out;
}

@media (max-width: 960px) {
  .footer-logo:hover {
    transform: rotate(90deg);
    transition: all 0.5s ease-out;
  }
}

img {
  transition: all 1s ease-out;
}

img:hover {
  transform: scale(1.1);
}

.header-intro,
.footer-slogan {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.footer-logo {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media (min-width: 961px) {
  .hint-content {
    transition: all 1s ease-out;
  }

  .hint-text {
    transition: all 0.5s ease-out;
    opacity: 0;
  }

  .hint-content:hover {
    padding-top: calc(((100vw - 365px) / (730 - 365) * (88 - 44) + 44px) / 2);
  }

  .hint-content:hover .hint-text {
    opacity: 1;
    transition: all 1s ease-out;
  }
}

@media (orientation: landscape) and (max-height: 650px) {
  html {
    font-size: 12px;
  }

  .logo-text {
    width: 12rem;
  }

  title .header-title {
    font-size: 4rem;
  }

  footer.footer .footer-logo {
    width: 9rem;
  }

  footer.footer .footer-container {
    padding-top: 25px;
    padding-bottom: 65px;
  }

  footer.footer .slogan-firstpart {
    font-size: 4rem;
  }

  footer.footer .slogan-secondpart {
    font-size: 2rem;
  }

  .download-links li {
    width: 50vh;
  }

  .link-wrapper {
    padding: 1rem 0;
  }

  .download-link svg {
    width: 2rem;
  }

  footer.footer .logo-text {
    bottom: 20px;
  }
}
