.container {
  width: calc(100% - 60px);
}

body {
  font-size: 1rem;
}

/* .header
==================== */

.header {
  background-image: url("../images/football_1280.jpg");
}

.header-container {
  padding-top: 4vh;
  padding-bottom: 9.5vh;
}

.logo-text {
  width: 27vmin;
}

.header-intro .title {
  font-size: 8.33vmin;
}

.header-title {
  margin-left: 55px;
}

.header-title-secondpart {
  margin-left: 92px;
}

.download-links {
  flex-direction: row;
  justify-content: space-evenly;
}

.download-links li {
  width: calc(50% - 45px);
}

.link-wrapper {
  padding: 2.5vmin 0;
}

.download-link svg {
  width: 5.5vmin;
}

.link-text {
  margin-left: 25px;

  font-size: 2vmin;
}

.link-text:last-child {
  margin-left: 30px;
}

/* .services
==================== */

.services:nth-child(odd) .main-container {
  padding-left: 260px;
}

.services:nth-child(even) .main-container {
  padding-right: 260px;
}

.services {
  padding-top: 60px;
}

.services:nth-child(even) .service:nth-child(3n + 4) {
  background-color: #090c35;
}

.services:nth-child(even) .service:nth-child(3n + 4) .service-title::before {
  color: #8765dd;
}

.services-title {
  margin-bottom: 20px;

  font-size: 5rem;
}

.services-title::after {
  top: 0;

  width: 500px;
  height: 700px;

  background-image: url("../images/footballer_497.png");
  background-position: 0 0;

  transform: translateX(-450px);
}

.services:nth-child(2) .services-title::after {
  top: -2rem;
  left: 100%;

  width: 400px;
  height: 570px;

  background-image: url("../images/basketballer_436.png");

  transform: translateX(-110px);
}

.service {
  padding-top: 35px;
  padding-bottom: 35px;
}

.service:nth-child(3n + 2) {
  padding-top: 40px;

  background-color: #ffffff;
}

.service-title {
  font-size: 2rem;
}

.service-title::before {
  font-size: 1.125rem;
}

.service-title::after {
  top: 24px;

  width: 20px;

  border-top-width: 2.5px;
  border-bottom-width: 2.5px;
  border-radius: 2.5px;
}

/* .hints
==================== */

.hint-content {
  padding-top: 90px;
  padding-bottom: 90px;
}

.hint-content::before {
  top: -80px;
  left: 30px;

  width: 115px;
  height: 115px;

  font-size: 1.125rem;
}

.hint-content::after {
  top: -10px;
  left: 76px;

  width: 21px;

  border-top-width: 2.5px;
  border-bottom-width: 2.5px;
  border-radius: 2.5px;
}

.hint-title {
  margin-bottom: 38px;

  font-size: 5rem;
  color: #e7e7e7;
}

.hint-text {
  font-size: 1.5rem;
}

/* .footer
==================== */

.footer {
  background-image: url("../images/game_1280.jpg");
}

.footer-container {
  padding-top: 13vh;
  padding-bottom: 14vh;
}

.footer .logo-text {
  position: absolute;
  bottom: 2.5vh;
}
