@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url(../fonts/OpenSans-Bold.ttf) format(truetype);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url(../fonts/OpenSans-Regular.ttf) format(truetype);
  font-style: normal;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

svg {
  fill: #ffffff;
}

.title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  min-width: 320px;

  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #000000;
}

/* .container
==================== */

.container {
  padding: 0 20px;
}

/* header
==================== */

.header {
  position: relative;
  z-index: 1;

  color: #ffffff;

  background-image: url("../images/football_767.jpg");
  background-color: #0a0e34;
  background-repeat: no-repeat;
  background-size: cover;
}

.header::before {
  content: "";
  position: absolute;
  z-index: -1;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #1c1d3f;
  opacity: 0.9;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
  min-height: 480px;
  padding-top: 6vh;
  padding-bottom: 10vh;
}

.logo-text {
  align-self: center;
  width: 42vmin;
}

.header-intro {
  align-self: start;
}

.header-intro .title {
  font-size: 8.75vmin;
}

.header-title-secondpart {
  display: block;
  margin-left: 45px;
}

.download-link {
  display: block;
  width: calc(100vw - 40px);
  font-size: 2.5vmin;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.link-wrapper {
  display: flex;
  padding: 2vmin 0;
  align-items: center;
  justify-content: center;

  background-color: #5e3db3;
  border-radius: 11vmin;
}

.download-link svg {
  width: 7.5vmin;
}

.link-text {
  min-width: 26.5vmin;
  margin-left: 10px;
}

.download-link-android .link-text {
  margin-left: 8px;
}

.download-links li:first-child {
  margin-bottom: 2.5vh;
}
.store-name {
  font-weight: bold;
}

/* .services
==================== */

section {
  counter-reset: cnt;
}

.services {
  position: relative;

  padding-top: 24px;
}

.services::before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  content: "";
  display: block;
  width: 100%;
  height: 100%;

  background-color: transparent;
  background-image: url("../images/footballer_192.png");
  background-repeat: no-repeat;
  background-position: 50% 14%;
}

.services:nth-child(2)::before {
  background-image: url("../images/basketballer_302.png");
}

.services-title {
  margin-bottom: 244px;

  font-size: 3.125rem;
  color: #e7e7e7;
}

.service {
  padding-top: 60px;
  padding-bottom: 55px;

  background-color: #fafafa;
}

.service:first-child {
  padding-top: 83px;
}

.service:nth-child(2) {
  background-color: #f5f4f9;
}

.service:nth-child(3) {
  background-color: #5e3db3;
}

.service-title {
  position: relative;

  padding-left: 26px;
  margin-bottom: 28px;

  font-size: 1.438rem;
  color: #c1c1c1;
}

.service-title::before {
  counter-increment: cnt;

  content: counter(cnt, decimal-leading-zero);

  position: absolute;
  top: 3px;
  left: 0;

  font-size: 0.875rem;
  font-weight: bold;
  color: #000000;
}

.service-title::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 0;
  display: block;
  width: 17px;
  border: 2px solid #5e3db3;
  border-radius: 1px;
}

.service:nth-child(3) .service-title::after {
  border-color: #ffffff;
}
.service:nth-child(3) .service-description {
  color: #ffffff;
}

/* .hints
==================== */

.hint-pic {
  background-color: #f5f4f9;
}

.hint-pic img {
  min-height: 350px;
  width: 100%;
}

.hint-content {
  position: relative;

  padding-top: 34px;
  padding-bottom: 75px;
}

.hint-content::before {
  counter-increment: cnt;

  content: counter(cnt, decimal-leading-zero);

  position: absolute;
  top: -58px;
  left: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;

  background-color: #5e3db3;
  font-size: 0.875rem;
  font-weight: bold;
  color: #f5f6f7;
}

.hint-content::after {
  content: "";
  position: absolute;
  top: -14px;
  left: 47px;
  display: block;
  width: 16px;
  border: 2px solid #8f78ca;
  border-radius: 2px;
}

.hint-title {
  font-size: 1.75rem;
  color: #c1c1c1;

  margin-bottom: 24px;
}

.hint-text {
  font-size: 1rem;
}

/* .footer
==================== */

.footer {
  position: relative;
  z-index: 1;

  background-image: url("../images/game_767.jpg");
  background-color: #0a0e34;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.footer::before {
  content: "";
  position: absolute;
  z-index: -1;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #1c1d3f;
  opacity: 0.9;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
  min-height: 480px;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.footer-logo {
  position: relative;
  z-index: 1;

  width: 18.75vmin;

  background-color: #6f4fcb;
  border: 3vmin solid #6f4fcb;
  border-bottom-width: 2vmin;
  border-radius: 3.75vmin;

  fill: #ffffff;
}

.footer-slogan {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.slogan-secondpart {
  text-align: center;
  font-size: 0.875rem;
  font-weight: normal;
  color: #9b8ec1;
}
