@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url(../fonts/OpenSans-Bold.ttf) format(truetype);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url(../fonts/OpenSans-Regular.ttf) format(truetype);
  font-style: normal;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

svg {
  fill: #ffffff;
}

.title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  min-width: 320px;

  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.2;
  color: #000000;
}

/* .container
======================================== */

.container {
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
}

/* header
========================================= */

.header,
.footer {
  position: relative;
  z-index: 1;

  color: #ffffff;

  background-image: url("../images/football_767.jpg");
  background-color: #0a0e34;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header::before,
.footer::before {
  content: "";
  position: absolute;
  z-index: -1;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #1c1d3f;
  opacity: 0.9;
}

.header-container,
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
  padding-top: 6vh;
  padding-bottom: 10vh;
}

.logo-text {
  width: 42vmin;
}

.header-intro .title {
  font-size: 8.75vmin;
}

.header-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.header-title-secondpart {
  margin-left: 45px;
}

.header-content,
.footer-content {
  width: 100%;
}

.download-links {
  display: flex;
  flex-direction: column;
}

.download-link {
  text-decoration: none;
  color: #ffffff;
}

.link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2vmin 0;

  background-color: #5e3db3;
  border-radius: 11vmin;
}

.download-link svg {
  width: 7.5vmin;
}

.link-text {
  display: flex;
  flex-direction: column;

  min-width: 25%;
  margin-left: 10px;

  font-size: 2.5vmin;
  text-transform: uppercase;
}

.link-text:last-child {
  margin-left: 8px;
}

.download-links li:first-child {
  margin-bottom: 2.5vh;
}
.store-name {
  font-weight: bold;
}

/* .services
======================================== */

section {
  counter-reset: cnt;
}

.services {
  padding-top: 24px;
}

.services-title {
  position: relative;

  margin-bottom: 244px;

  font-size: 3.125rem;
  color: #e7e7e7;
}

.services-title::after {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 0;

  content: "";
  display: block;
  width: 100%;
  height: 285px;

  background-color: transparent;
  background-image: url("../images/footballer_192.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0;
}

.services:nth-child(2) .services-title::after {
  top: 80px;
  height: 250px;

  background-image: url("../images/basketballer_302.png");

  transform: scaleY(1.05);
}

.service {
  padding-top: 60px;
  padding-bottom: 55px;
}

.service:nth-child(3n + 2) {
  padding-top: 83px;

  background-color: #fafafa;
}

.service:nth-child(3n + 3) {
  background-color: #f5f4f9;
}

.service:nth-child(3n + 4) {
  background-color: #5e3db3;
}

.service-title {
  position: relative;

  padding-left: 26px;
  margin-bottom: 28px;

  font-size: 1.438rem;
  line-height: 1;
  color: #c1c1c1;
}

.service-title::before {
  counter-increment: cnt;

  content: counter(cnt, decimal-leading-zero);

  position: absolute;
  top: 2px;
  left: 0;

  font-size: 0.875rem;
  line-height: 1;
  font-weight: bold;
  color: #000000;
}

.service-title::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;

  display: block;
  width: 17px;

  background-color: #5e3db3;
  border-top: 2px solid #5e3db3;
  border-bottom: 2px solid #5e3db3;
  border-radius: 2px;
}

.service:nth-child(3n + 4) .service-title::after {
  background-color: #ffffff;
  border-color: #ffffff;
}
.service:nth-child(3n + 4) .service-description {
  color: #ffffff;
}

/* .hints
======================================== */

.hint-pic {
  overflow: hidden;
}

.hint-pic img {
  display: block;

  min-height: 350px;
  width: 100%;

  background-color: #f5f4f9;
}

.hint-content {
  position: relative;

  padding-top: 35px;
  padding-bottom: 70px;
}

.hint-content::before {
  counter-increment: cnt;

  content: counter(cnt, decimal-leading-zero);

  position: absolute;
  top: -58px;
  left: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;

  background-color: #5e3db3;
  font-size: 0.875rem;
  font-weight: bold;
  color: #f5f6f7;
}

.hint-content::after {
  content: "";
  position: absolute;
  top: -14px;
  left: 47px;

  display: block;
  width: 16px;

  background-color: #8f78ca;
  border-top: 2px solid #8f78ca;
  border-bottom: 2px solid #8f78ca;
  border-radius: 2px;
}

.hint-title {
  font-size: 1.75rem;
  color: #c1c1c1;

  margin-bottom: 24px;
}

.hint-text {
  font-size: 1rem;
}

/* .footer
======================================== */

.footer {
  background-image: url("../images/game_767.jpg");
}

.footer-container {
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.footer-logo {
  position: relative;
  z-index: 1;

  width: 18.75vmin;

  background-color: #6f4fcb;
  border: 3vmin solid #6f4fcb;
  border-bottom-width: 2vmin;
  border-radius: 3.75vmin;
}

.footer-slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan-firstpart {
  font-size: 10.5vmin;
}

.slogan-secondpart {
  font-size: 4.5vmin;
  font-weight: normal;
  color: #9b8ec1;
}
